* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    height: 500px;
    width: 370px;
    /*border: 2px solid purple;*/
}

#content {
    display: flex;
    width: 100%;
    flex-direction: column;
    /*border: 2px solid red;*/
    /*margin: 5px;*/
}

#display {
    width: 100%;
    height: 35%;
    background-color: rgb(55, 55, 55);
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#button-container {
    display: flex;
    height: 65%;
    flex-wrap: wrap;
    align-content: stretch;
}

.button {
    flex-grow: 1;
    flex-basis: 25%;
    border: 0.25px solid white;
    border-radius: 0;
}
.clear {
    flex-basis: 50%;
}

.backspace {
    flex-basis: 25%;
}

.number, .decimal {
    flex-grow: 1;
    /*padding: 20px;*/
    flex-basis: 25%;
    background-color: rgb(50, 50, 50);
    border: 0.25px solid white;
    border-radius: 0;
    color: #F8F8FF;
}

.operator {
    flex-grow: 1;
    /*padding: 20px;*/
    flex-basis: 25%;
    border: 0.25px solid white;
    border-radius: 0;
}

.operator, .clear, .backspace, #equals {
    background-color: rgb(64, 19, 127);
    color: #F8F8FF;
}

#zero {
    flex-basis: 50%;
}

.number:hover, .decimal:hover {
    background-color: rgb(70, 70, 70);
}

.number:active, .decimal:active {
    background-color: rgb(79, 61, 81);
}

.operator:hover, .clear:hover, .backspace:hover, #equals:hover {
    background-color: rgb(94, 57, 101);
}

.operator:active, .clear:active, .backspace:active, #equals:active {
    background-color: rgb(64, 19, 100);
}